@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}
<head>
    <link rel="stylesheet" href="~/css/about.css" type="text/css" />
</head>
<body id="HomepageBody">
    <div id="myBody">
        <p id="contact"> Contact Brycen Newell at (580)319-8202 or cbnewell@byui.edu for updates</p>
        <h2>Student Body Statistics</h2>


        <table id="myTable">
            <tr id="firstrow">
                <th>
                    Enrollment Date
                </th>
                <th>
                    Students
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                        @item.StudentCount
                    </td>
                </tr>
            }
        </table>
    </div>
</body>