@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
</head>
<body>
    <div class="jumbotron">
        <h1>Contoso University</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Welcome to Contoso University</h2>
            <p>
                Here at CU, we pride ourselves on providing an expert level education to future experts. 
            </p>
        </div>
        <br />
        <div class="col-md-3">
            <h2>Efforts to Slow Down Covid-19</h2>
            <p>
                Our Campus is currently following Covid-19 best practices, such as wearing a mask indoors, staying 6 feet apart, and providing online classes whenever possible.
            </p>
            <p><a class="btn btn-default" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">Find Out More Here &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2>Course Updates:</h2>
            <p>We offer a variety of courses and are adding to our opportunities every year.</p>
            <p><a class="btn btn-default" href="https://localhost:44375/Courses">Renew Your Passion For Education Today &raquo;</a></p>
        </div>
    </div>
</body>