@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" type="text/css" />
</head>
<body id="HomepageBody">


    <div id="myBody">
        <h1>@ViewData["Title"]</h1>



        <h2>Your privacy is of the utmost concern to us.</h2>
        <br />
        <p>If you feel as if your privacy is being threatened, or have any other concern, contact us at 580-319-8202.</p>
    </div>
</body>